.products{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;

    padding:30px;

}
.pagination{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin:40px 0;
}

.pagination button{
    padding:8px 18px;
    cursor:pointer;
}